* {
  user-select: none;
}

.brick {
  border-radius: 10px;
}

@keyframes animationSpin {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.buzzsaw {
  animation-name: animationSpin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.deadbadguy {
  border-radius: 10px;
  background-color: brown !important;
}

.badguy {
  font-weight: 900;
  border-radius: 10px;
}

.bomb, .tickingbomb, .explodingbomb {
  font-weight: 900;
  border-radius: 25px;
}

.explodingbomb {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 127, 0, 0.5) !important;
}

.laser {
  transform-origin: 0 0;
  border-radius: 10px;
}

.player {
  background-color: limegreen;
}

@keyframes animationPlayerDying {
  from {
    background-color: rgba(255, 127, 0, 1);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes animationPlayerTextDying {
  from {
    color: rgba(0, 0, 0, 1);
  }
  to {
    color: rgba(255, 255, 255, 0);
  }
}

.dyingplayer {
  animation-name: animationPlayerDying;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.playertextdying {
  animation-name: animationPlayerTextDying;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.playertext, .playertextdying {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 15%;
}

.turret {
  background-color: darkgray;
}

.coin {
  font-size: 40px;
  color: goldenrod;
  text-align: center;
  border-radius: 25px;
}

.powerup {
  background-color: rgba(0, 255, 0, 0.2) !important;
  border-radius: 25px;
}

.qbox {
  font-size: 40px;
  color: blue;
  text-align: center;
  border-radius: 10px;
}

body {
  font-family: monospace;
  font-size: x-large;
}

#GUIncoins, #GUInlives {
  font-family: Arial;
  font-size: large;
}
