html {
	font-family: Arial;
	font-size: 14px;
	scroll-behavior: smooth;
}

h1 {
	font-size: 42px;
	text-align: center;
	background-color: skyblue;
	margin: 35px 15%;
	padding: 5px 5px;
	border: 5px solid blue;
}

h1:hover {
	letter-spacing: 30px;
	border: 5px dashed navy;
	text-shadow: 10px 5px 10px black;
}

body {
	border: 3px solid navy;
	padding: 5px;
	margin: 0px;
}

@media (min-width: 961px) {
	body {
		border: 3px solid skyblue;
	}
}

img {
	display: block;
	border: 5px solid grey;
	width: 50%;
}

#imglink {
	display: flex;
	align-items: center;
	justify-content: center;
}

img:hover {
	opacity: .3;
}

div {
	line-height: 30px;
}

#linkbar {
	border: 2px solid navy;
	margin-bottom: 0px;
	padding-left: 1vw;
	padding-right: 1vw;
}

.links {
	margin-left: 10px;
	margin-right: 10px;
}

#tos {
	text-align: right;
}

.content{
	color: black;
	display: flex;
	padding: 1vw;
	margin: 5vw;
	border: 1px solid gray;
	border-radius: 1vw
}

.left {
	width: 50%;
	margin: auto;
}

.right {
	width: 50%;
	margin-top: auto;
	margin-bottom: auto;
}

#bottomtext {
	display: flex;
}

#topbtn {
	width: 50%;
}

#tos {
	width: 50%;
}

.tab2 {
	display: none;
	margin: 3vw;
}

@keyframes fadeDiv {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tab1,.tab2 {
	animation: fadeDiv 500ms ease-in-out both;
}
